    @media screen and (max-width: 1000px) {
        p {
        font-size: 0.9rem;
        line-height: 1.8rem;
        }   
    
        .grid-3 {
        gap: 1rem;
        }
    
        .skills-right ul li {
        font-size: 0.9rem;
        }
    }
    
    @media screen and (max-width: 800px) {
    
        /* navigation */
        .nav-link.active {
            color:#252734;
            font-weight: 700;
        }
        .navbar-dark{
            background-color: #252734!important;
        }
    
        :root {
            --sectionPadding: 4rem 0;
        }
    
        .section-title {
            font-size: 1.6rem;
            margin: 0.6rem 0 2.5rem;
        }
    
        .relative {
            font-size: 1rem;
        }
    
        /* Hero Section */
        #jumbotron {
            grid-template-columns: 1fr;
            height: fit-content;
        }
        .kartu-tutor{
            order: -1;
        }
    
        .kartu-tutor img{
            width: 60%;
        }
    
        /* about */
        #about {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 60px;
        }
    
        /* Skills Section */
        #skill {
            display: grid;
            gap: 1rem;
            margin-bottom: 70px;
            justify-content: center;
        }

        #skill img{
            width: 20%;
        }

        .skill-konten{
            margin-left: 40px;
        }

    
        #sertifikat{
            margin-bottom: 70px;
        }
        /* Contact */
        #portopolio {
            display: grid;
            margin-bottom: 45px;
        }


        .portopolio-konten{
            margin-left: 40px;
        }

        /* History */

        #history{
            display: grid;
        }

        .history-konten{
            margin-left: 9rem;
        }
    
        /* Footer Section */
       #footer {
            padding: 2rem;
        }
    }
