@media screen and (max-width: 700px) {
    /* navigation */
    .nav-link.active {
        color: #252734;
        font-weight: 700;
    }
    .navbar-dark {
        background-color: #252734 !important;
    }

    :root {
        --sectionPadding: 2rem 0; /* Reduced padding for smaller screens */
    }

    .section-title {
        font-size: 1.4rem; /* Slightly smaller font size for section titles */
        margin: 0.6rem 0 1.5rem; /* Adjusted margin */
    }

    .relative {
        font-size: 0.9rem; /* Slightly smaller font size */
    }

    /* Hero Section */
    #jumbotron {
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .kartu-tutor {
        width: 100%;
        margin: 0 auto;
    }

    .kartu-tutor img {
        width: 80%;
        
    }

    /* about */
    #about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 60px; /* Adjusted margin */
    }

    /* Skills Section */
    #skill {
        display: grid;
        gap: 1rem;
        margin-bottom: 70px; /* Adjusted margin */
        justify-content: center;
    }

    #skill img {
        width: 30%; /* Increased width for better visibility on small screens */
    }

    .skill-konten {
        margin-left: 35px; /* Reduced margin for smaller screens */
        font-size: 0.9rem; /* Smaller font size */
    }

    #skill .card {
        margin: 1rem; /* Maintain margin for spacing between cards */
    }

    #sertifikat {
        margin-bottom: 70px; /* Adjusted margin */
    }

    /* Contact */
    #portopolio {
        display: grid;
        margin-bottom: 45px;
        padding: 0 1rem; /* Added padding for better spacing */
    }

    .portopolio-konten {
        margin-left: 10px; /* Reduced margin for smaller screens */
        font-size: 0.9rem; /* Smaller font size */
    }

    /* History */
    #history {
        display: grid;
    }

    .history-konten {
        margin-left: 5rem; /* Reduced margin for smaller screens */
        font-size: 0.9rem; /* Smaller font size */
    }

    /* Footer Section */
    #footer {
        padding: 2rem; /* Adjusted padding */
    }
}
