@media screen and (max-width: 640px) {
    /* navigation */
    #body {
        max-width: 100%;
        padding: 0 1rem; 
    }
    .navbar-brand{
    font-size: 1.4rem
    }
    .nav-link.active {
        color: #252734;
        font-weight: 700;
    }
    .navbar-dark {
        background-color: #252734 !important;
    }

    :root {
        --sectionPadding: 2rem 0; 
    }

    .section-title {
        font-size: 1.4rem; 
        margin: 0.6rem 0 1.5rem; 
    }

    .relative {
        font-size: 0.7rem; 
    }

    /* Hero Section */
    #jumbotron {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .kartu-tutor {
        width: 100%;
        margin: 0 auto;
    }

    .kartu-tutor img {
        width: 80%;
    }

    /* about */
    #about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 60px; 
    }

    /* Skills Section */
    #skill {
        display: grid;
        gap: 1rem;
        margin-bottom: 70px; 
        justify-content: center;
    }

    #skill img {
        width: 30%; 
    }

    .skill-konten {
        margin-left: 5px;
        font-size: 0.9rem; 
    }

    #skill .card {
        margin: 1rem; 
    }

    #sertifikat {
        margin-bottom: 70px; 
    }

    /* Contact */
    #portopolio {
        display: grid;
        margin-bottom: 45px;
    }

    .portopolio-konten {
        margin-left: 5px; 
        font-size: 0.9rem; 
    }

    /* History */
    #history {
        display: grid;
    }

    .history-konten {
        margin-left: 9rem; 
        font-size: 0.9rem; 
    }

    /* Footer Section */
    #footer {
        padding: 1rem;
        text-align: center; 
        font-size: 0.9rem;
    }
}
